/JAVA/eclipse
/JAVA/openjdk
/JAVA/workspace/.metadata
/JAVA/workspace/gsmclass4/.settings
/JAVA/workspace/gsmclass4/bin
/JAVA/workspace/gsmclass4/.classpath
/JAVA/workspace/gsmclass4/.project
/JAVA/workspace/gsmtest/.settings
/JAVA/workspace/gsmtest/bin
/JAVA/workspace/gsmtest/.classpath
/JAVA/workspace/gsmtest/.project
/JAVA/workspace/gsm/.settings
/JAVA/workspace/gsm/bin
/JAVA/workspace/gsm/.classpath
/JAVA/workspace/gsm/.project